@CHARSET "ISO-8859-1";

body {
	background-color: blue;
	background: url("tri.jpg.png");
	background-size: contain;
	background-repeat: no-repeat;
	padding-right: 10px;
	background-color: skyblue;
	color: white;
}

table {
	border-style: ridge;
	font-family: arial;
	font-style: italic;
	color: black;
	border-style: dotted;
}

input:focus {
	background-color: pink;
}

p {
	text-align: right;
	text-color: pink;
	background-color: none;
}

h1:hover {
	background-color: blue;
	text-shadow: skyblue;
}